<section class="py-8 py-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Preheader -->
        <h6 class="text-uppercase text-primary" data-aos="fade-up">
          Bienvenue
        </h6>

        <!-- Headin -->
        <h1 class="display-1 font-weight-bold" data-aos="fade-up" data-aos-delay="50">
          Vous êtes sur l'espace administrateur.
        </h1>


        <!-- Text -->
        <p class="lead text-muted mb-6" data-aos="fade-up" data-aos-delay="100">
          Certains projets nécessitent peut-être votre validation, vous pouvez également accéder à la liste des tous les ordres relatifs aux dons ainsi qu'aux profils des utilisateurs.
        </p>

        <!-- Button -->
        <div class="d-flex justify-content-between">
          <div class="d-inline mb-7 mb-md-9" data-aos="fade-up" data-aos-delay="150">
            <%= link_to admin_projects_path, :class => "btn btn-sm btn-primary lift" do  %>
              Projets à valider <i class="fas fa-check-circle"></i>
            <% end %>
          </div>

          <div class="d-inline mb-7 mb-md-9" data-aos="fade-up" data-aos-delay="150">
            <%= link_to admin_donations_path, :class => "btn btn-sm btn-primary lift" do  %>
              Ordres de virements <i class="fas fa-search-dollar"></i>
            <% end %>
          </div>

          <div class="d-inline mb-7 mb-md-9" data-aos="fade-up" data-aos-delay="150">
            <%= link_to admin_users_fr_path, :class => "btn btn-sm btn-primary lift" do  %>
              Utilisateurs <i class="fas fa-user-friends"></i>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- / .container -->
</section>
