<section class="pt-8 pt-md-11 bg-gradient-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Badge -->
        <span class="badge badge-pill badge-danger-soft mb-3">
          <span class="h6 text-uppercase">Attention</span>
        </span>

        <!-- Heading -->
        <h1>
          Vous n'avez pas renseigné votre RIB.
        </h1>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
          Afin de pouvoir recevoir des dons, merci de renseigner vos informations bancaires.
          <%= link_to "Renseignez ces informations", new_bank_detail_path, class: "btn btn-primary btn-xs mb-1"%>
        </p>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
