
    <!-- WELCOME
================================================== -->
<section data-jarallax data-speed=".8" class="pt-12 pt-md-14 pb-12 pb-md-15 overlay overlay-black overlay-60 bg-cover jarallax" style="margin-top: -83px; background-image: url(https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1027&q=80);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 text-center">

        <!-- Headin -->
        <h1 class="display-2 font-weight-bold text-white">
          Les projets.
        </h1>


        


      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
  </div>
</div>
    
    
<!-- CONTENT
================================================== -->
<section>
  <% @projects.each do |project| %>
  <div class="row mb-5 mt-10">
    <div class="col-12 col-xl-4 d-flex">
      
      
      <!-- Card -->
      <div class="card mb-6 mb-xl-0 shadow-light-lg lift lift-lg">
      
        <!-- Image -->
        <a class="card-img-top" href="#!">
          <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.bluecross.org.uk%2Fsites%2Fdefault%2Ffiles%2Fd8%2Fassets%2Fimages%2F124044lpr.jpg&f=1&nofb=1", alt: "...", class: "img-fluid" %>
        </a>

        <!-- Shape -->
        <div class="position-relative">
          <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
          </div>
        </div>

        <!-- Body -->
        <a class="card-body" href="#!">

          <!-- Divider -->
          <hr class="card-meta-divider">

          <!-- Text -->
          <p class="mb-0 text-muted">
            <%= project.pitch %>
          </p>

        </a>

        <!-- Meta -->
        <a class="card-meta" href="#!">

          <!-- Ajouter au panier -->
          <p class="h6 text-uppercase text-muted mb-2 ml-auto">
            <%= link_to project_path(project), class: "btn btn-xs btn-rounded-circle btn-secondary ml-1", title: "Voir plus" do %>
              <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn1.iconfinder.com%2Fdata%2Ficons%2Ftrycons%2F32%2Fsearch-512.png&f=1&nofb=1"%>
            <%end%>
          </p>
        </a>
      </div>
      
    </div>
  </div> <!-- / .row -->
  <%end%>
</section>

<!-- SHAPE
================================================== -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>
  </div>
</div>