<!-- CONTENT
    ================================================== -->
    <form action= <%= projects_path %> method="POST">
    <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
          <div class="col-12 col-md-5 col-lg-8 py-8 py-md-11 text-center">

            
            <!-- Heading -->
            <h1 class="mb-0 font-weight-bold">
              Créez votre projet
            </h1>

            <!-- Text -->
            <p class="mb-6 text-center text-muted">
              Remplissez les informations suivantes afin qu'un administrateur valide votre projet.
            </p>

            <!-- Form -->
            <form class="mb-6">

              <!-- Name -->
              <div class="form-group">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <label for="name">
                  Titre de votre projet
                </label>
                <input class="form-control" id="name" placeholder="Un titre explicite à propos de votre projet" name='name'>
              </div>

              <!-- Pitch -->
              <div class="form-group mb-5">
                <label for="pitch">
                  Le pitch de votre projet
                </label>
                <textarea class="form-control" id="pitch" rows="3" placeholder="Les objectifs de votre projet, les problèmes auquel il répond" name='pitch'></textarea>
              </div>

              <!-- Functionalities -->
              <div class="form-group mb-5">
                <label for="functionalities">
                  Les fonctionnalités de votre projet
                </label>
                <textarea class="form-control" id="functionalities" rows="3" placeholder="Les caractéristiques techniques de votre projet, et ses fonctionnalités" name='functionalities'></textarea>
              </div>

              <!-- Value of project  -->
              <div class="form-group mb-5">
                <label for="value_of_project">Le coût mensuel de votre projet en euros.</label>
                <input type="number" class="form-control" id="value_of_project" name='value_of_project'>
              </div>

              <!-- Number of developeurs on project  -->
              <div class="form-group mb-5">
                <label for="number_of_developers_on_project">Nombre de développeurs travaillants sur le projet.</label>
                <input type="text" class="form-control" id="number_of_developers_on_project" name='number_of_developers_on_project'>
              </div>

              <!-- Daily time spent on project per developer  -->
              <div class="form-group">
                <label for="daily_time_spent_on_project_per_developer">Nombre d'heures quotidiennes passées sur le projet, par développeur</label>
                <select class="form-control" id="daily_time_spent_on_project_per_developer" name='daily_time_spent_on_project_per_developer'>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>


              

              <!-- Submit -->
              <button class="btn btn-block btn-primary" type="submit">
                Valider ces informations
              </button>

            </form>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>