body{
  font-family: Helvetica, Arial, sans-serif;
}

div.d-inline.stripe {
  margin-top: 50px;
}

.stripe-button-el {
  width: 350px;
  border-radius: 0.5em !important;
  border: 0 !important;
  background-image: none !important;
  background-color: #FAD776 !important;
  font-weight: normal !important;
  margin: auto
}

.stripe-button-el span {
  color: black !important;
  font-family: sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-weight: normal !important;
  font-size: 1em !important;
  border-radius: 0.2em !important;
  border: 0 !important;
  background-image: none !important;
  background: #FAD776 !important;
  background-color: #FAD776 !important;
}

.sans_serif_card_content{
  font-family: Helvetica, Arial, sans-serif;
}

.main_figures{
  color: #335EEA;
  font-weight: bold;
  padding: -30px;
  margin-top: -5px;
  margin-bottom: -5px;
}

#sponsor{
  margin-top: -25px;
}

.fund_btn{
  font-weight: bold;
  font-size: 17px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 16px 40px 16px 40px;
}

.user-info {
  color:inherit!important;
  cursor:pointer;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: .9375rem;
  text-decoration: none;
  background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f1f4f8;
    border-radius: .375rem;
}

.user-info:hover {
  color: #161c2d!important;
  text-decoration: none;
}

.img-logo {
  max-width: 30%;
  height: auto
}

.img-logo-footer {
  max-width: 40%;
  height: auto
}