<div class="modal-header">
  <h4 class="modal-title" id="modal-title-image"><%= @project.name %></h4>
  <button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
</div>
<div class="modal-body" id="modal-body-image">
  <%= image_tag @project.images[(params[:image_id]).to_i]%>
</div>
