<div class="modal-header">
  <h4 class="modal-title" id="modal-window-status">Titre</h4>
  <button type="button" class="close" data-dismiss="modal"><i class="far fa-times-circle"></i></button>
</div>
<div class="modal-body">
<p>texte</p>
</div>
