<section class="section-border border-primary">
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-50" id= "validate-amount">
      <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

        <!-- Heading -->
        <h1 class="mb-0 font-weight-bold text-center">
          Don pour le projet <%= @project.name %>
        </h1>

        <!-- Text -->
        <p class="mb-6 text-center text-muted">
          Saisissez le montant de votre don.
        </p>

        <!-- Form -->
        <%= form_tag(new_project_charge_path, class: "mb-6", :action => "new", :method => "get") do %>
          <!-- Value of project  -->
          <div class="form-group mb-5">
            <input type="number" class="form-control" id="amount" name='amount' placeholder="Montant de votre don en euros">
          </div>
          <div>
            <button class="btn btn-block btn-primary" type="submit">
              Valider ces informations
            </button>
          </div>
        <% end %>

      </div> <!-- / .col-12 -->
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
